.card {
   width:250px; /* or whatever width you want. */
   max-width:250px; /* or whatever width you want. */
   display: inline-block;
   height:300px;
   max-height:300px;
}

img {
	width: 100px;
	height: 100px;
}